Repository SonarSource/sonarqube: changes, and which Cirrus tasks are due for each by the changed paths.
All: qa_bb_cloud, qa_gitlab, qa_gitlab_cloud, qa_azure, qa_github, qa_github_provisioning, qa_gitlab_provisioning, qa_github_slow, qa_saml, qa_ldap, sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

qa_bb_cloud:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
  ...

qa_gitlab:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITLAB
  depends_on:
  - build
  ...

qa_gitlab_cloud:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
  ...

qa_azure:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
  ...

qa_github:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITHUB
  depends_on: build
  jar_cache:
  ...

qa_github_provisioning:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITHUB_PROVISIONING
  ...

qa_gitlab_provisioning:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITLAB_PROVISIONING
  ...

qa_github_slow:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITHUB_SLOW_TESTS
  ...

qa_saml:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: SAML
  depends_on: build
  jar_cache:
  ...

SONAR-24030 Improve sonar-dotnet analysis
  build.gradle
Due: none

SONAR-24107 Fix quality gate issue
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/step/MigrationStepsExecutorImpl.java
Due: none

SONAR-23119 Create 'migration_logs' table
  server/sonar-db-core/src/main/java/org/sonar/db/version/SqTables.java
  server/sonar-db-dao/src/it/java/org/sonar/db/migrationlog/MigrationLogDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/DaoModule.java
  server/sonar-db-dao/src/main/java/org/sonar/db/DbClient.java
  server/sonar-db-dao/src/main/java/org/sonar/db/MyBatis.java
  server/sonar-db-dao/src/main/java/org/sonar/db/migrationlog/MigrationLogDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/migrationlog/MigrationLogDto.java
  server/sonar-db-dao/src/main/java/org/sonar/db/migrationlog/MigrationLogMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/migrationlog/package-info.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/migrationlog/MigrationLogMapper.xml
  server/sonar-db-dao/src/schema/schema-sq.ddl
  server/sonar-db-migration/src/it/java/org/sonar/server/platform/db/migration/version/v202501/CreateMigrationLogsTableIT.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/CreateMigrationLogsTable.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/DbVersion202501.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23119 Implement database migration logging mechanism
  server/sonar-db-dao/src/testFixtures/java/org/sonar/db/DbTester.java
  server/sonar-db-dao/src/testFixtures/java/org/sonar/db/migrationlog/MigrationLogDbTester.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/DatabaseMigrationLoggerContext.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/step/MigrationStepsExecutorImpl.java
  server/sonar-db-migration/src/main/java/org/sonar/server/telemetry/TelemetryDbMigrationStepDurationProvider.java
  server/sonar-db-migration/src/main/java/org/sonar/server/telemetry/TelemetryDbMigrationStepsProvider.java
  server/sonar-db-migration/src/main/java/org/sonar/server/telemetry/TelemetryDbMigrationTotalTimeProvider.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/DatabaseMigrationLoggerContextTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/engine/MigrationContainerPopulatorImplTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/engine/MigrationEngineImplTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/step/MigrationStepsExecutorImplTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/telemetry/TelemetryDbMigrationStepDurationProviderTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/telemetry/TelemetryDbMigrationStepsProviderTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/telemetry/TelemetryDbMigrationSuccessProviderTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/telemetry/TelemetryDbMigrationTotalTimeProviderTest.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/db/migration/DatabaseMigrationPersister.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/db/migration/DatabaseMigrationTelemetry.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/db/migration/DatabaseMigrationPersisterTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/db/migration/DatabaseMigrationTelemetryTest.java
  server/sonar-webserver/src/main/java/org/sonar/server/platform/platformlevel/PlatformLevel2.java
  server/sonar-webserver/src/main/java/org/sonar/server/platform/platformlevel/PlatformLevel4.java
Due: none

SONAR-24007 Add warning when SAML configuration is incorrect on Migration
  server/sonar-db-migration/src/it/java/org/sonar/server/platform/db/migration/version/v202501/LogMessageIfInvalidSamlSetupIT.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/DbVersion202501.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/LogMessageIfInvalidSamlSetup.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23021 Enforce password complexity in the backend
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/ChangePasswordActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/ChangePasswordAction.java
  sonar-ws/src/testFixtures/java/org/sonarqube/ws/tester/Tester.java
Due: none

SONAR-24047 Remove unnecessary custom proxy handling
  server/sonar-auth-saml/src/it/java/org/sonar/auth/saml/SamlIdentityProviderIT.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlIdentityProvider.java
Due: qa_saml

SONAR-23910 Support externalId in PATCH /api/v2/users-management/users/{ID}
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/user/controller/DefaultUserController.java
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/user/controller/UserController.java
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/user/converter/UsersSearchRestResponseGenerator.java
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/user/request/UserUpdateRestRequest.java
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/user/response/UserRestResponseForAdmins.java
  server/sonar-webserver-webapi-v2/src/test/java/org/sonar/server/v2/api/user/controller/DefaultUserControllerTest.java
  server/sonar-webserver-webapi-v2/src/test/java/org/sonar/server/v2/api/user/converter/UsersSearchRestResponseGeneratorTest.java
Due: none

NO-JIRA fix QG
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/ChangePasswordActionIT.java
Due: none

SONAR-24061 Update SAML certificate configuration description
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlSettings.java
Due: qa_saml

SONAR-24067 Improve logs when preprocessing files
  sonar-scanner-engine/src/main/java/org/sonar/scanner/scan/filesystem/ProjectFilePreprocessor.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/util/ProgressReport.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/util/ProgressReportTest.java
Due: none

Reapply "SONAR-22876 Exclude metrics from being persisted to measures"
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/step/PersistMeasuresStepIT.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/step/PersistMeasuresStep.java
Due: none

Revert "SONAR-23594 Fix SSF-605"
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/ChangePasswordActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/ChangePasswordAction.java
Due: none

SONAR-17771 Drop the support for 'sonar.password'
  sonar-scanner-engine/src/it/java/org/sonar/scanner/mediumtest/properties/UnsupportedPropertiesMediumIT.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/bootstrap/SpringScannerContainer.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/http/DefaultScannerWsClient.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/http/ScannerWsClientProvider.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/scan/DeprecatedPropertiesWarningGenerator.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/scan/ScanProperties.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/http/DefaultScannerWsClientTest.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/scan/DeprecatedPropertiesWarningGeneratorTest.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/scan/ScanPropertiesTest.java
  sonar-ws/src/testFixtures/java/org/sonarqube/ws/tester/UserTester.java
Due: none

SONAR-24122 Fix application refresh not refreshing referencers
  server/sonar-db-dao/src/it/java/org/sonar/db/portfolio/PortfolioDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/portfolio/PortfolioDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/portfolio/PortfolioMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/portfolio/PortfolioMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23750 Remove deprecation on hotspots related statuses and resolutions
  gradle.properties
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/hotspot/ws/ChangeStatusAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/hotspot/ws/SearchAction.java
Due: none

SONAR-23746 Security reports with fewer templates
  build.gradle
Due: none

SONAR-21771 added libraries to help users connect to MSSQL database with ActiveDirectory and Entra ID
  build.gradle
  server/sonar-main/src/main/java/org/sonar/application/command/CommandFactoryImpl.java
  server/sonar-main/src/main/java/org/sonar/application/config/JdbcSettings.java
  server/sonar-main/src/test/java/org/sonar/application/command/CommandFactoryImplTest.java
  server/sonar-main/src/test/java/org/sonar/application/config/JdbcSettingsTest.java
  server/sonar-process/src/main/java/org/sonar/process/ProcessProperties.java
  sonar-application/build.gradle
Due: none

SONAR-24136 Improve SonarArchitecture analysis
  build.gradle
Due: none

SONAR-24126 Fix issues turning QG red
  sonar-scanner-engine/src/it/java/org/sonar/scanner/mediumtest/properties/UnsupportedPropertiesMediumIT.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/bootstrap/SpringScannerContainer.java
Due: none

SONAR-22345 Reflect changes to prioritized rule in the changelog
  server/sonar-db-dao/src/main/resources/org/sonar/db/qualityprofile/QProfileChangeMapper.xml
  server/sonar-server-common/src/main/java/org/sonar/server/qualityprofile/ActiveRuleChange.java
  server/sonar-server-common/src/test/java/org/sonar/server/qualityprofile/ActiveRuleChangeTest.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/QProfileRulesImplIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/ws/ChangelogActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/qualityprofile/ws/ChangelogAction.java
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/qualityprofile/ws/changelog-example.json
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-24062 Remove documentation link from migration
  server/sonar-db-migration/src/it/java/org/sonar/server/platform/db/migration/version/v202501/LogMessageIfInvalidSamlSetupIT.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/LogMessageIfInvalidSamlSetup.java
Due: none

SONAR-23747 Change icon in security report when not on main branch
  build.gradle
Due: none

SONAR-23978 Add missing pagination to copilot call
  server/sonar-alm-client/src/main/java/org/sonar/alm/client/github/GithubApplicationClientImpl.java
Due: none

SONAR-22045 Do not fail analysis due to broken symlinks or symlinks pointing outside project/module
  sonar-scanner-engine/src/it/java/org/sonar/scanner/mediumtest/fs/FileSystemMediumIT.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/scan/filesystem/FilePreprocessor.java
Due: none

NO-JIRA bumping community build version
  gradle.properties
Due: none

SONAR-24086 allow to remove browse permission from groups/users if access via another mean
  server/sonar-db-dao/src/main/resources/org/sonar/db/permission/AuthorizationMapper.xml
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/permission/ws/RemoveGroupActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/permission/ws/RemoveUserActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/permission/ws/PermissionWsSupport.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/permission/ws/RemoveUserAction.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23943 Increase max requested metrics
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/measure/ws/ComponentTreeActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/measure/ws/ComponentTreeAction.java
Due: none

SONAR-23946 Create AI measures during portfolio computation
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/measure/ws/ComponentTreeAction.java
Due: none

SONAR-23964 Create aica cache
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/measure/ws/ComponentTreeAction.java
Due: none

NO-JIRA fix sq issues
  server/sonar-server-common/src/test/java/org/sonar/server/qualityprofile/ActiveRuleChangeTest.java
Due: none

fix(security): Fix CVE-2024-52316 for LTS version
  build.gradle
Due: none

SONAR-24058 Fix encrypted response test
  server/sonar-auth-saml/src/it/java/org/sonar/auth/saml/SamlIdentityProviderIT.java
  server/sonar-auth-saml/src/it/resources/org/sonar/auth/saml/SamlIdentityProviderIT/encoded_encrypted_response.txt
Due: none

SONAR-24141 Fix Quality Gate status
  server/sonar-ce/src/test/java/org/sonar/ce/app/CeServerTest.java
Due: none

SONAR-24137 Improve SonarSecurity analysis
  build.gradle
Due: none

SONAR-14367 Add new field to ProjectAlmSettingDto and update queries
  server/sonar-db-dao/src/it/java/org/sonar/db/alm/setting/ProjectAlmSettingDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/alm/setting/ProjectAlmSettingDto.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/alm/setting/ProjectAlmSettingMapper.xml
  server/sonar-db-dao/src/testFixtures/java/org/sonar/db/almsettings/AlmSettingsTesting.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-14367 Add populate migration for Azure + fix get_binding WS
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/DbVersion202501.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/PopulateInlineAnnotationsEnabledColumnForAzure.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v202501/PopulateInlineAnnotationsEnabledColumnForAzureTest.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/almsettings/ws/GetBindingAction.java
  sonar-ws/src/main/protobuf/ws-alm_settings.proto
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-24149 Improve SonarArchitecture analysis
  build.gradle
Due: none

SONAR-24147 Use latest webapp lta version
  gradle.properties
Due: none

Path conditions:
  qa_bb_cloud: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/bitbucket/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/bitbucketcloud/**/*.java
  qa_gitlab: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/gitlab/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/gitlab/**/*.java, private/core-extension-gitlab-vulnerability-report/src/main/**/*.java
  qa_gitlab_cloud: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/gitlab/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/gitlab/**/*.java, private/core-extension-gitlab-vulnerability-report/src/main/**/*.java
  qa_azure: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/azuredevops/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/azure/**/*.java
  qa_github: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_github_provisioning: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_gitlab_provisioning: any of: private/core-extension-gitlab-provisioning/**/*.java
  qa_github_slow: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_saml: any of: server/sonar-auth-saml/src/main/java/**/*.java, server/sonar-auth-saml/src/main/resources/**/*, server/sonar-db-dao/src/main/**/SAML*.java, private/it-core/src/test/java/org/sonarqube/tests/saml/*.java, server/sonar-webserver-webapi/src/main/java/org/sonar/server/saml/**/*.java
  qa_ldap: any of: server/sonar-auth-ldap/src/main/java/**/*.java, server/sonar-webserver-auth/src/main/java/org/sonar/server/authentication/LdapCredentialsAuthentication.java, private/it-core/src/test/java/org/sonarqube/tests/ldap/*.java
  sql_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_postgres: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_postgres11: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_oracle21: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  upgd_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  upgd_oracle21: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
