Repository SonarSource/sonarqube: changes, and which Cirrus tasks are due for each by the changed paths.
All: qa_bb_cloud, qa_gitlab, qa_gitlab_cloud, qa_azure, qa_github, qa_github_provisioning, qa_gitlab_provisioning, qa_github_slow, qa_saml, qa_ldap, sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

Path conditions:
  qa_bb_cloud: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/bitbucket/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/bitbucketcloud/**/*.java
  qa_gitlab: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/gitlab/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/gitlab/**/*.java, private/core-extension-gitlab-vulnerability-report/src/main/**/*.java
  qa_gitlab_cloud: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/gitlab/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/gitlab/**/*.java, private/core-extension-gitlab-vulnerability-report/src/main/**/*.java
  qa_azure: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/azuredevops/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/azure/**/*.java
  qa_github: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_github_provisioning: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_gitlab_provisioning: any of: private/core-extension-gitlab-provisioning/**/*.java
  qa_github_slow: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_saml: any of: server/sonar-auth-saml/src/main/java/**/*.java, server/sonar-auth-saml/src/main/resources/**/*, server/sonar-db-dao/src/main/**/SAML*.java, private/it-core/src/test/java/org/sonarqube/tests/saml/*.java, server/sonar-webserver-webapi/src/main/java/org/sonar/server/saml/**/*.java
  qa_ldap: any of: server/sonar-auth-ldap/src/main/java/**/*.java, server/sonar-webserver-auth/src/main/java/org/sonar/server/authentication/LdapCredentialsAuthentication.java, private/it-core/src/test/java/org/sonarqube/tests/ldap/*.java
  sql_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_postgres: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_postgres11: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_oracle21: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  upgd_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  upgd_oracle21: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java

SONAR-23593 /clean-code-policy/rules accepts type and severity
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/rule/controller/DefaultRuleController.java
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/rule/request/RuleCreateRestRequest.java
  server/sonar-webserver-webapi-v2/src/test/java/org/sonar/server/v2/api/rule/controller/DefaultRuleControllerTest.java
Due: none

SONAR-23623 Remove useless remains of the SCA prototype
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/step/PersistCveStepIT.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/batch/BatchReportReader.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/batch/BatchReportReaderImpl.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/issue/TrackerRawInputFactory.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/step/PersistCveStep.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/step/ReportComputationSteps.java
  server/sonar-ce-task-projectanalysis/src/test/java/org/sonar/ce/task/projectanalysis/batch/BatchReportReaderImplTest.java
  server/sonar-ce-task-projectanalysis/src/test/java/org/sonar/ce/task/projectanalysis/batch/BatchReportReaderRule.java
  sonar-plugin-api-impl/src/main/java/org/sonar/api/batch/sensor/issue/internal/DefaultExternalIssue.java
  sonar-scanner-engine/src/main/java/org/sonar/scanner/issue/IssuePublisher.java
  sonar-scanner-engine/src/testFixtures/java/org/sonar/scanner/mediumtest/AnalysisResult.java
  sonar-scanner-protocol/src/main/java/org/sonar/scanner/protocol/output/FileStructure.java
  sonar-scanner-protocol/src/main/java/org/sonar/scanner/protocol/output/ScannerReportReader.java
  sonar-scanner-protocol/src/main/java/org/sonar/scanner/protocol/output/ScannerReportWriter.java
  sonar-scanner-protocol/src/main/java/org/sonar/scanner/protocol/viewer/ScannerReportViewerApp.java
  sonar-scanner-protocol/src/main/protobuf/scanner_report.proto
  sonar-scanner-protocol/src/test/java/org/sonar/scanner/protocol/output/ScannerReportWriterTest.java
Due: none

[NO-JIRA] fix build.gradle code style
  build.gradle
Due: none

SONAR-23625 support for different version for community build.
  buildSrc/src/main/groovy/org.sonar.build/BlackBoxTest.groovy
  gradle.properties
  server/sonar-db-dao/build.gradle
Due: none

SONAR-23626 publish Community Build and SonarQube Server independently.
  build.gradle
  plugins/sonar-education-plugin/build.gradle
  plugins/sonar-xoo-plugin/build.gradle
  server/sonar-db-core/build.gradle
  sonar-application/build.gradle
  sonar-core/build.gradle
  sonar-markdown/build.gradle
  sonar-plugin-api-impl/build.gradle
  sonar-scanner-engine/build.gradle
  sonar-scanner-protocol/build.gradle
  sonar-testing-harness/build.gradle
  sonar-ws/build.gradle
Due: none

SONAR-23592 Do not use best value in component_tree if measure is not computed
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/measure/ws/ComponentTreeActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/measure/ws/ComponentTreeAction.java
Due: none

Fix Hotspot org
  server/sonar-web/src/main/js/apps/security-hotspots/components/HotspotHeaderRightSection.tsx
Due: none

CD-6084: Fixed the active tab header
  server/sonar-web/src/main/js/apps/organizations/navigation/OrganizationNavigationAdministration.tsx
  server/sonar-web/src/main/js/apps/organizations/navigation/OrganizationNavigationExtensions.tsx
Due: none

CD-6110: QP restore fix
  server/sonar-web/src/main/js/apps/quality-profiles/home/RestoreProfileForm.tsx
Due: none

SONAR-23463 SONAR-23462 Revert addition of Csharp and VBnet enterprise plugins
  build.gradle
Due: none

SONAR-23643 Rebrand favicon
  server/sonar-auth-saml/src/main/resources/samlAuthResult.html
  server/sonar-web/index.html
  server/sonar-web/public/apple-touch-icon-114x114.png
  server/sonar-web/public/apple-touch-icon-120x120.png
  server/sonar-web/public/apple-touch-icon-144x144.png
  server/sonar-web/public/apple-touch-icon-152x152.png
  server/sonar-web/public/apple-touch-icon-180x180.png
  server/sonar-web/public/apple-touch-icon-57x57.png
  server/sonar-web/public/apple-touch-icon-60x60.png
  server/sonar-web/public/apple-touch-icon-72x72.png
  server/sonar-web/public/apple-touch-icon-76x76.png
  server/sonar-web/public/apple-touch-icon-precomposed.png
  server/sonar-web/public/apple-touch-icon.png
  server/sonar-web/public/favicon.ico
  server/sonar-web/public/mstile-512x512.png
Due: qa_saml

SGB-216 Reduce number of render line to fix slow test
  server/sonar-web/src/main/js/apps/code/__tests__/Code-it.ts
Due: none

CD-6111: Project Analysis page
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/component/ComponentUpdater.java
Due: none

CD-6094: Fixed The alignment of the buttons and the dialog
  server/sonar-web/src/main/js/apps/organizationMembers/AddMemberForm.tsx
  server/sonar-web/src/main/js/apps/organizationMembers/MembersPageHeader.tsx
Due: none

CD-6109: permission management on project level
  server/sonar-db-dao/src/main/resources/org/sonar/db/entity/EntityMapper.xml
  server/sonar-db-dao/src/main/resources/org/sonar/db/permission/AuthorizationMapper.xml
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/permission/GroupPermissionChange.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/permission/ws/AddGroupAction.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

25.0.0 version
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

CD-6113: Filter users by organization uuids
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/UserMapper.xml
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/api/user/controller/DefaultUserController.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CD-6118 - Fix IDE token generation page UI
  server/sonar-web/src/main/js/app/components/SonarLintConnection.tsx
Due: none

CODEFIX-187 set isAiCodeFixEnabled field in SearchProjectsAction response (#12280)
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/component/ws/SearchProjectsActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/component/ws/SearchProjectsAction.java
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/component/ws/search_projects-example.json
Due: none

CODEFIX-188 Enable Ai CodeFix for new projects if all projects enabled option is selected (#12216)
  server/sonar-webserver-common/src/it/java/org/sonar/server/common/component/ComponentUpdaterIT.java
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/component/ComponentUpdater.java
Due: none

CODEFIX-177 Add 'ai_code_fix_enabled' column to the 'projects' table
  server/sonar-db-dao/src/schema/schema-sq.ddl
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v108/AddAICodeFixEnabledColumnToProjectsTable.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v108/DbVersion108.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v108/AddAICodeFixEnabledColumnToProjectsTableTest.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CODEFIX-184 send ai suggestion enabled/disabled project count telemetry (#12228)
  server/sonar-db-dao/src/it/java/org/sonar/db/project/ProjectDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/project/ProjectMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CODEFIX-187 Add `isAiCodeFixEnabled` property to the Component Response (#12212)
  server/sonar-db-dao/src/it/java/org/sonar/db/project/ProjectDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectDto.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/project/ProjectMapper.xml
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/component/ws/ShowActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/component/ws/ComponentDtoToWsComponent.java
  sonar-ws/src/main/protobuf/ws-components.proto
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CODEFIX-181 Introduce a new endpoint for AI CodeFix project level enablement
  server/sonar-db-dao/src/it/java/org/sonar/db/project/ProjectDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/project/ProjectMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CODEFIX-183 Check project enablement to show the 'Generate AI Fix' button
  server/sonar-web/src/main/js/api/components.ts
  server/sonar-web/src/main/js/apps/issues/__tests__/IssueApp-it.tsx
  server/sonar-web/src/main/js/queries/fix-suggestions.tsx
Due: none

CODEFIX-192 Add ai code fix enablement to audit logs (#12238)
  server/sonar-db-dao/src/it/java/org/sonar/db/project/ProjectDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/audit/model/ComponentNewValue.java
  server/sonar-db-dao/src/main/java/org/sonar/db/audit/model/ProjectNewValue.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectDao.java
  server/sonar-db-dao/src/test/java/org/sonar/db/audit/model/ProjectNewValueTest.java
  sonar-core/src/main/java/org/sonar/core/config/AiCodeFixEnablementConstants.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CODEFIX-180 Migrate 'sonar.ai.suggestions.enabled' property values
  server/sonar-db-migration/src/it/java/org/sonar/server/platform/db/migration/version/v108/MigrateAiSuggestionEnabledValuesTest.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v108/DbVersion108.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v108/MigrateAiSuggestionEnabledValues.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

CODEFIX-189 Simplify accepting the terms and conditions
  server/sonar-web/src/main/js/apps/settings/components/CodeFixAdmin.tsx
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-23671 Improve SonarSecurity analysis (#12295)
  build.gradle
Due: none

CODEFIX-189 Allow admin to enable AI CodeFix at the project level
  server/sonar-web/src/main/js/api/fix-suggestions.ts
  server/sonar-web/src/main/js/api/mocks/ComponentsServiceMock.ts
  server/sonar-web/src/main/js/api/mocks/FixSuggestionsServiceMock.ts
  server/sonar-web/src/main/js/api/mocks/data/projects.ts
  server/sonar-web/src/main/js/apps/issues/test-utils.tsx
  server/sonar-web/src/main/js/apps/settings/components/AdditionalCategories.tsx
  server/sonar-web/src/main/js/apps/settings/components/AiCodeFixAdmin.tsx
  server/sonar-web/src/main/js/apps/settings/components/CodeFixAdmin.tsx
  server/sonar-web/src/main/js/apps/settings/components/__tests__/AiCodeFixAdmin-it.tsx
  server/sonar-web/src/main/js/apps/settings/components/__tests__/CodeFixAdmin-it.tsx
  server/sonar-web/src/main/js/apps/settings/constants.ts
  server/sonar-web/src/main/js/components/rules/IssueSuggestionFileSnippet.tsx
  server/sonar-web/src/main/js/helpers/mocks/component.ts
  server/sonar-web/src/main/js/queries/fix-suggestions.tsx
  server/sonar-web/src/main/js/types/fix-suggestions.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

CD-6118 - Remove sonarlint image
  server/sonar-web/src/main/js/app/components/SonarLintConnection.tsx
Due: none

CODEFIX-204 Display the enablement on the Project Information page
  server/sonar-web/src/main/js/apps/projectInformation/__tests__/ProjectInformationApp-it.tsx
  server/sonar-web/src/main/js/apps/projectInformation/about/AboutProject.tsx
  server/sonar-web/src/main/js/types/types.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-23672 Update project onboarding tutorials to use Gradle scanner 6.0.0.5145
  server/sonar-web/src/main/js/components/tutorials/bitbucket-pipelines/__tests__/__snapshots__/BitbucketPipelinesTutorial-it.tsx.snap
  server/sonar-web/src/main/js/components/tutorials/github-action/__tests__/__snapshots__/GithubActionTutorial-it.tsx.snap
  server/sonar-web/src/main/js/components/tutorials/gitlabci/__tests__/__snapshots__/GitLabCITutorial-it.tsx.snap
  server/sonar-web/src/main/js/components/tutorials/jenkins/__tests__/__snapshots__/JenkinsTutorial-it.tsx.snap
  server/sonar-web/src/main/js/components/tutorials/other/__tests__/__snapshots__/OtherTutorial-it.tsx.snap
  server/sonar-web/src/main/js/helpers/constants.ts
Due: none

SONAR-23673 SONAR-23674 Addition of CSharp and VB.NET enterprise plugins
  build.gradle
Due: none

Connecting Codescan to Elastic Cloud via HTTPS (#456)
  server/sonar-process/src/main/java/org/sonar/process/ProcessProperties.java
  server/sonar-server-common/src/main/java/org/sonar/server/es/EsClientProvider.java
Due: none

SONAR-23653 Replace tours with Popovers
  server/sonar-web/src/main/js/apps/issues/__tests__/IssuesAppGuides-it.tsx
  server/sonar-web/src/main/js/apps/issues/components/IssueGuide.tsx
  server/sonar-web/src/main/js/apps/issues/components/IssueHeader.tsx
  server/sonar-web/src/main/js/apps/issues/components/IssueNewStatusAndTransitionGuide.tsx
  server/sonar-web/src/main/js/apps/issues/components/IssuesApp.tsx
  server/sonar-web/src/main/js/apps/issues/components/__tests__/IssuesNewStatusAndTransitionGuide-test.tsx
  server/sonar-web/src/main/js/apps/issues/sidebar/AttributeCategoryFacet.tsx
  server/sonar-web/src/main/js/apps/issues/sidebar/FacetHelp.tsx
  server/sonar-web/src/main/js/apps/issues/sidebar/IssueStatusFacet.tsx
  server/sonar-web/src/main/js/apps/issues/sidebar/QGMetricsMismatchHelp.tsx
  server/sonar-web/src/main/js/apps/issues/sidebar/SoftwareQualityFacet.tsx
  server/sonar-web/src/main/js/apps/issues/sidebar/__tests__/Sidebar-it.tsx
  server/sonar-web/src/main/js/components/facets/SeverityFacet.tsx
  server/sonar-web/src/main/js/components/issue/components/IssueTransition.tsx
  server/sonar-web/src/main/js/components/issue/components/IssueTransitionOverlay.tsx
  server/sonar-web/src/main/js/components/rules/IssueTabViewer.tsx
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-23341 Security report data are based on Security impact when in MQR mode
  server/sonar-server-common/src/it/java/org/sonar/server/rule/index/RuleIndexIT.java
  server/sonar-server-common/src/main/java/org/sonar/server/rule/index/RuleIndex.java
  server/sonar-webserver-common/src/it/java/org/sonar/server/common/rule/RuleCreatorIT.java
  server/sonar-webserver-core/src/it/java/org/sonar/server/rule/registration/RulesRegistrantIT.java
  server/sonar-webserver-es/src/main/java/org/sonar/server/issue/index/IssueIndex.java
  server/sonar-webserver-es/src/test/java/org/sonar/server/issue/index/IssueIndexFacetsTest.java
  server/sonar-webserver-es/src/test/java/org/sonar/server/issue/index/IssueIndexFiltersTest.java
  server/sonar-webserver-es/src/test/java/org/sonar/server/issue/index/IssueIndexSecurityCategoriesTest.java
  server/sonar-webserver-es/src/test/java/org/sonar/server/issue/index/IssueIndexSecurityReportsTest.java
  server/sonar-webserver-es/src/test/java/org/sonar/server/issue/index/IssueIndexTestCommon.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/developers/ws/SearchEventsActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/developers/ws/SearchEventsActionNewIssuesIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/developers/ws/SearchEventsActionQualityGateIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/hotspot/ws/SearchActionDependenciesIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/hotspot/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/issue/ws/AuthorsActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/issue/ws/SearchActionComponentsIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/issue/ws/SearchActionDependenciesIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/issue/ws/SearchActionFacetsIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/issue/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/issue/ws/TagsActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/QProfileComparisonIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/QProfileRuleImplIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/QProfileRulesImplIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/ws/ChangeParentActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/ws/CreateActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/ws/InheritanceActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/ws/QProfilesWsMediumIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/rule/RuleUpdaterIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/rule/ws/SearchActionIT.java
Due: none

SONAR-23721 Update to JGit 7.0
  build.gradle
Due: none

SONAR-22308 Fix Measures page a11y issue
  server/sonar-web/src/main/js/apps/component-measures/drilldown/BubbleChartView.tsx
Due: none

SONAR-22300 SONAR-23528 Fix 11y issues on Projects page & fetch measures by chunks
  server/sonar-web/src/main/js/apps/issues/sidebar/ListStyleFacet.tsx
  server/sonar-web/src/main/js/apps/projects/components/AllProjects.tsx
  server/sonar-web/src/main/js/apps/projects/components/EmptyFavoriteSearch.tsx
  server/sonar-web/src/main/js/apps/projects/components/EmptyInstance.tsx
  server/sonar-web/src/main/js/apps/projects/components/FavoriteProjectsContainer.tsx
  server/sonar-web/src/main/js/apps/projects/components/NoFavoriteProjects.tsx
  server/sonar-web/src/main/js/apps/projects/components/ProjectsList.tsx
  server/sonar-web/src/main/js/apps/projects/components/__tests__/AllProjects-test.tsx
  server/sonar-web/src/main/js/apps/projects/components/project-card/ProjectCard.tsx
  server/sonar-web/src/main/js/apps/projects/components/project-card/__tests__/ProjectCard-test.tsx
  server/sonar-web/src/main/js/apps/projects/utils.ts
  server/sonar-web/src/main/js/components/common/EmptySearch.tsx
  server/sonar-web/src/main/js/components/controls/Favorite.tsx
  server/sonar-web/src/main/js/components/controls/__tests__/Favorite-test.tsx
  server/sonar-web/src/main/js/helpers/react-query.ts
  server/sonar-web/src/main/js/queries/favorites.ts
  server/sonar-web/src/main/js/queries/measures.ts
  server/sonar-web/src/main/js/queries/projects.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none
