Repository SonarSource/sonarqube: changes, and which Cirrus tasks are due for each by the changed paths.
All: qa_bb_cloud, qa_gitlab, qa_gitlab_cloud, qa_azure, qa_github, qa_github_provisioning, qa_gitlab_provisioning, qa_github_slow, qa_saml, qa_ldap, sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

qa_bb_cloud:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
  ...

qa_gitlab:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITLAB
  depends_on:
  - build
  ...

qa_gitlab_cloud:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
  ...

qa_azure:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
  ...

qa_github:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITHUB
  depends_on: build
  jar_cache:
  ...

qa_github_provisioning:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITHUB_PROVISIONING
  ...

qa_gitlab_provisioning:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITLAB_PROVISIONING
  ...

qa_github_slow:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: GITHUB_SLOW_TESTS
  ...

qa_saml:
  clone_script: 'git init
  
    git remote add origin https://x-access-token:${CIRRUS_REPO_CLONE_TOKEN}@github.com/${CIRRUS_REPO_FULL_NAME}.git
  
    git fetch origin $CIRRUS_CHANGE_IN_REPO $FETCH_DEPTH
  
    git reset --hard $CIRRUS_CHANGE_IN_REPO
  
    '
  env:
    QA_CATEGORY: SAML
  depends_on: build
  jar_cache:
  ...

SONAR-24057 Optimize querying of branch measures to only load required measures in memory
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/step/ProjectNclocComputationStep.java
  server/sonar-db-dao/src/it/java/org/sonar/db/component/BranchDaoIT.java
  server/sonar-db-dao/src/it/java/org/sonar/db/measure/MeasureDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/MyBatis.java
  server/sonar-db-dao/src/main/java/org/sonar/db/component/BranchDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/component/BranchMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/measure/MeasureDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/measure/MeasureMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/measure/ProjectMainBranchMeasureDto.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/component/BranchMapper.xml
  server/sonar-db-dao/src/main/resources/org/sonar/db/measure/MeasureMapper.xml
  server/sonar-telemetry/src/main/java/org/sonar/telemetry/legacy/ProjectLocDistributionDataProvider.java
  server/sonar-telemetry/src/main/java/org/sonar/telemetry/legacy/ProjectLocDistributionDto.java
  server/sonar-telemetry/src/main/java/org/sonar/telemetry/legacy/TelemetryDataLoaderImpl.java
  server/sonar-webserver-pushapi/src/main/java/org/sonar/server/pushapi/qualityprofile/QualityProfileChangeEventServiceImpl.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/component/ComponentCleanerService.java
  server/sonar-webserver/src/main/java/org/sonar/server/platform/telemetry/TelemetryNclocProvider.java
  server/sonar-webserver/src/test/java/org/sonar/server/platform/telemetry/TelemetryNclocProviderTest.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-24012 Migrate replay attack prevention mechanism
  server/sonar-auth-saml/src/it/java/org/sonar/auth/saml/SamlMessageIdCheckerIT.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/RelyingPartyRegistrationRepositoryProvider.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlAuthenticator.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlConfiguration.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlMessageIdChecker.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlPrivateKeyConverter.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeSaml2ResponseValidator.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlAuthenticatorTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlPrivateKeyConverterTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SonarqubeSaml2ResponseValidatorTest.java
Due: qa_saml

SONAR-23995 Fix broken documentation links from the new code period API description
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/newcodeperiod/ws/ListActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/newcodeperiod/ws/SetActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/newcodeperiod/ws/ShowActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/newcodeperiod/ws/UnsetActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/newcodeperiod/ws/ListAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/newcodeperiod/ws/NewCodePeriodsWsUtils.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/newcodeperiod/ws/SetAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/newcodeperiod/ws/ShowAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/newcodeperiod/ws/UnsetAction.java
Due: none

SONAR-24023 Added test for SonarqubeRelyingPartyRegistrationRepository + refactoring
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/JakartaToJavaxRequestWrapper.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/JakartaToJavaxResponseWrapper.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/RedirectToUrlProvider.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/RelyingPartyRegistrationRepositoryProvider.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlCertificateConverter.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlModule.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlPrivateKeyConverter.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlResponseAuthenticator.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationRepository.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationResolver.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeSaml2ResponseValidator.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/JakartaToJavaxRequestWrapperTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/JakartaToJavaxResponseWrapperTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/RelyingPartyRegistrationRepositoryProviderTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlModuleTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationRepositoryTest.java
Due: qa_saml

SONAR-24023 Migrate onelogin auth to opensaml
  build.gradle
  server/sonar-auth-saml/build.gradle
  server/sonar-auth-saml/src/it/java/org/sonar/auth/saml/SamlIdentityProviderIT.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/PrincipalToUserIdentityConverter.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/RedirectToUrlProvider.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/RelyingPartyRegistrationRepositoryProvider.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlAuthenticator.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlConfiguration.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlIdentityProvider.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlResponseAuthenticator.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlStatusChecker.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationRepository.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationResolver.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeSaml2ResponseValidator.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/PrincipalToUserIdentityConverterTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlAuthenticatorTest.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/saml/ws/ValidationAction.java
Due: qa_saml

SONAR-24066 Replace deprecated LoggerLevel calls to SLF4J Level
  server/sonar-alm-client/src/test/java/org/sonar/alm/client/github/GenericApplicationHttpClientTest.java
  server/sonar-alm-client/src/test/java/org/sonar/alm/client/github/GithubApplicationClientImplTest.java
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/step/ExtractReportStepIT.java
  server/sonar-ce-task-projectanalysis/src/test/java/org/sonar/ce/task/projectanalysis/metric/ReportMetricValidatorImplTest.java
  server/sonar-ce/src/it/java/org/sonar/ce/taskprocessor/CeWorkerImplIT.java
  server/sonar-db-core/src/test/java/org/sonar/db/profiling/ProfiledDataSourceTest.java
  server/sonar-server-common/src/it/java/org/sonar/server/es/BulkIndexerIT.java
  server/sonar-server-common/src/test/java/org/sonar/server/notification/email/EmailNotificationChannelTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/db/CheckAnyonePermissionsAtStartupTest.java
  sonar-core/src/test/java/org/sonar/core/util/logs/DefaultProfilerTest.java
  sonar-core/src/test/java/org/sonar/core/util/logs/ProfilerTest.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/report/AnalysisContextReportPublisherTest.java
  sonar-scanner-engine/src/test/java/org/sonar/scm/git/GitIgnoreCommandTest.java
Due: none

SONAR-24023 Add tests for SamlPrivateKeyConverter and SamlCertificateConverter
  server/sonar-auth-saml/build.gradle
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlCertificateConverter.java
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlPrivateKeyConverter.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlCertificateConverterTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlPrivateKeyConverterTest.java
Due: qa_saml

SONAR-24023 Add PrincipalToUserIdentityConverterTest
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/PrincipalToUserIdentityConverter.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/PrincipalToUserIdentityConverterTest.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlStatusCheckerTest.java
Due: qa_saml

SONAR-24024 Fix diagnostic tests
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlStatusChecker.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SamlStatusCheckerTest.java
Due: qa_saml

CODEFIX-222 update webapp version
  gradle.properties
Due: none

SONAR-23984 Add Scheduler to fetch information about Copilot usage
  server/sonar-auth-github/src/main/java/org/sonar/auth/github/GithubBinding.java
  server/sonar-db-dao/src/it/java/org/sonar/db/user/ai/UserAiToolUsageDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/ai/UserAiToolUsageDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/ai/UserAiToolUsageMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/ai/UserAiToolUsageMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

Update webapp version to the latest master
  gradle.properties
Due: none

SONAR-23978 Detect AI Code
  server/sonar-ce-task-projectanalysis/src/testFixtures/java/org/sonar/ce/task/projectanalysis/scm/ScmInfoRepositoryRule.java
  server/sonar-db-core/src/main/java/org/sonar/db/version/SqTables.java
  server/sonar-db-dao/src/it/java/org/sonar/db/project/ProjectDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectDto.java
  server/sonar-db-dao/src/main/java/org/sonar/db/project/ProjectMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/project/ProjectMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23978 Create table 'user_ai_tool_usages' and add column 'detected_ai_code' to table 'projects'
  server/sonar-db-dao/src/schema/schema-sq.ddl
  server/sonar-db-migration/src/it/java/org/sonar/server/platform/db/migration/version/v202501/CreateUserAIToolUsagesTableIT.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/AddDetectedAICodeColumnToProjectsTable.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/CreateUserAIToolUsagesTable.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v202501/DbVersion202501.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v202501/AddDetectedAICodeColumnToProjectsTableTest.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23978 Add DAO for user_ai_tool_usages table
  server/sonar-db-dao/src/it/java/org/sonar/db/user/ai/UserAiToolUsageDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/DaoModule.java
  server/sonar-db-dao/src/main/java/org/sonar/db/DbClient.java
  server/sonar-db-dao/src/main/java/org/sonar/db/MyBatis.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/ai/UserAiToolUsageDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/ai/UserAiToolUsageDto.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/ai/UserAiToolUsageMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/ai/package-info.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/ai/UserAiToolUsageMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-24075 Query banner by role to fix flaky MQR banner test
  gradle.properties
Due: none

SONAR-24076 Improve SonarVB analysis
  build.gradle
Due: none

Fix example-webhooks-list.json hasSecret Type
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/webhook/ws/example-webhooks-list.json
Due: none

SONAR-24023 Handle case where encryption is enabled but signing request disabled
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationRepository.java
  server/sonar-auth-saml/src/test/java/org/sonar/auth/saml/SonarqubeRelyingPartyRegistrationRepositoryTest.java
Due: qa_saml

DO NOT MERGE Adding shibboleth for OpenSaml dependency
  build.gradle
Due: none

SONAR-24081 Improve SonarABAP analysis
  build.gradle
Due: none

SONAR-24082 Fix quality gate status
  server/sonar-process/src/main/java/org/sonar/process/logging/PatternLayoutEncoder.java
  server/sonar-process/src/test/java/org/sonar/process/logging/Log4JPropertiesBuilderTest.java
  server/sonar-process/src/test/java/org/sonar/process/logging/LogbackHelperTest.java
  server/sonar-process/src/test/java/org/sonar/process/logging/PatternLayoutEncoderTest.java
  server/sonar-webserver-auth/src/main/java/org/sonar/server/user/ServerUserSession.java
  server/sonar-webserver-webapi-v2/src/test/java/org/sonar/server/v2/api/analysis/controller/DefaultActiveRulesControllerTest.java
  server/sonar-webserver-ws/src/main/java/org/sonar/server/ws/ServletRequest.java
  server/sonar-webserver/src/main/java/org/sonar/server/app/NullJarScanner.java
  server/sonar-webserver/src/test/java/org/sonar/server/platform/web/MasterServletFilterTest.java
  server/sonar-webserver/src/test/java/org/sonar/server/platform/web/RegisterServletFiltersTest.java
  server/sonar-webserver/src/test/java/org/sonar/server/platform/web/StaticResourcesServletTest.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/issue/DefaultFilterableIssueTest.java
  sonar-ws/src/main/java/org/sonarqube/ws/client/DefaultWsClient.java
Due: none

SONAR-23764 Upgrade ch.qos.logback.access:logback-access-tomcat to 2.0.5
  build.gradle
Due: none

SONAR-24023 Add shibboleth repository to fetch open-saml dependencies from the public repo
  build.gradle
Due: none

SONAR-23402 Back up/restore clean code attributes for custom rules
  server/sonar-db-dao/src/main/java/org/sonar/db/qualityprofile/ExportRuleDto.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/qualityprofile/QualityProfileExportMapper.xml
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/QProfileBackuperImplIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/qualityprofile/ImportedRule.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/qualityprofile/QProfileBackuperImpl.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/qualityprofile/QProfileParser.java
  sonar-ws/src/main/java/org/sonarqube/ws/client/rules/CreateRequest.java
  sonar-ws/src/main/java/org/sonarqube/ws/client/rules/RulesService.java
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23785 Improve a11y for project badges
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/badge/ws/templates/sonarqube/badge.svg
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/badge/ws/templates/sonarqube/quality_gate_failed.svg
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/badge/ws/templates/sonarqube/quality_gate_passed.svg
Due: none

SONAR-23402 Support case with empty CleanCodeAttribute
  server/sonar-webserver-common/src/it/java/org/sonar/server/common/rule/RuleCreatorIT.java
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/rule/RuleCreator.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/qualityprofile/QProfileBackuperImplIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/rule/ws/CreateActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/qualityprofile/QProfileBackuperImpl.java
Due: none

SONAR-23764 Upgrade ch.qos.logback to 1.5.13
  build.gradle
Due: none

SONAR-24082 Fix issues turning QG red
  server/sonar-webserver/src/main/java/org/sonar/server/platform/web/StaticResourcesServlet.java
  sonar-scanner-engine/src/test/java/org/sonar/scanner/bootstrap/ScannerPropertiesTest.java
Due: none

SONAR-24085 Fix quality gate issues
  server/sonar-auth-ldap/src/main/java/org/sonar/auth/ldap/DefaultLdapAuthenticator.java
Due: qa_ldap

SONAR-24042 add telemetry 'project_uses_aica_quality_gate'
  server/sonar-server-common/src/it/java/org/sonar/server/qualitygate/QualityGateFinderIT.java
  server/sonar-server-common/src/main/java/org/sonar/server/qualitygate/QualityGateFinder.java
Due: none

SONAR-24046 Add telemetry 'aicaQualified' for a Quality Gate
  server/sonar-telemetry/src/it/java/org/sonar/telemetry/legacy/TelemetryDataLoaderImplIT.java
  server/sonar-telemetry/src/main/java/org/sonar/telemetry/legacy/TelemetryData.java
  server/sonar-telemetry/src/main/java/org/sonar/telemetry/legacy/TelemetryDataJsonWriter.java
  server/sonar-telemetry/src/main/java/org/sonar/telemetry/legacy/TelemetryDataLoaderImpl.java
  server/sonar-telemetry/src/test/java/org/sonar/telemetry/legacy/TelemetryDataJsonWriterTest.java
Due: none

SONAR-24083 Add telemetries 'project_ai_detection_enabled' and 'instance_ai_detection_enabled'
  server/sonar-db-dao/src/main/java/org/sonar/db/property/PropertiesDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/property/PropertiesMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/property/PropertiesMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres11, sql_oracle21, upgd_mssql, upgd_oracle21

SONAR-23898 Issues are carry over on first analysis when reference branch strategy used
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/issue/IntegrateIssuesVisitorIT.java
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/issue/TrackerReferenceBranchInputFactoryIT.java
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/scm/ScmInfoDbLoaderIT.java
  server/sonar-ce-task-projectanalysis/src/it/java/org/sonar/ce/task/projectanalysis/source/DbLineHashVersionIT.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/component/BranchComponentUuidsDelegate.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/component/BranchPersisterImpl.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/container/ProjectAnalysisTaskContainerPopulator.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/issue/IntegrateIssuesVisitor.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/issue/TrackerReferenceBranchInputFactory.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/source/DbLineHashVersion.java
  server/sonar-ce-task-projectanalysis/src/main/java/org/sonar/ce/task/projectanalysis/source/OriginalFileResolver.java
  server/sonar-ce-task-projectanalysis/src/test/java/org/sonar/ce/task/projectanalysis/component/BranchComponentUuidsDelegateTest.java
  server/sonar-ce-task-projectanalysis/src/test/java/org/sonar/ce/task/projectanalysis/source/SourceLinesDiffImplTest.java
Due: none

SONAR-24091 Fix quality gate on master
  server/sonar-alm-client/src/main/java/org/sonar/alm/client/github/GithubApplicationClientImpl.java
  server/sonar-alm-client/src/main/java/org/sonar/alm/client/github/GithubGlobalSettingsValidator.java
  server/sonar-alm-client/src/main/java/org/sonar/alm/client/github/config/GithubProvisioningConfigValidator.java
  server/sonar-alm-client/src/test/java/org/sonar/alm/client/github/GithubApplicationClientImplTest.java
  server/sonar-alm-client/src/test/java/org/sonar/alm/client/github/config/GithubProvisioningConfigValidatorTest.java
  server/sonar-auth-github/src/main/java/org/sonar/auth/github/AppInstallationTokenGenerator.java
  server/sonar-auth-github/src/main/java/org/sonar/auth/github/GitHubIdentityProvider.java
  server/sonar-auth-github/src/main/java/org/sonar/auth/github/GithubApplicationClient.java
  server/sonar-auth-github/src/main/java/org/sonar/auth/github/GithubBinding.java
  server/sonar-auth-github/src/main/java/org/sonar/auth/github/client/package-info.java
  server/sonar-auth-github/src/test/java/org/sonar/auth/github/AppInstallationTokenGeneratorTest.java
  server/sonar-auth-github/src/test/java/org/sonar/auth/github/GitHubIdentityProviderTest.java
  server/sonar-auth-github/src/test/java/org/sonar/auth/github/IntegrationTest.java
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/almsettings/github/GithubDevOpsProjectCreationContextService.java
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/almsettings/github/GithubProjectCreator.java
  server/sonar-webserver-common/src/main/java/org/sonar/server/common/almsettings/github/GithubProjectCreatorFactory.java
  server/sonar-webserver-common/src/test/java/org/sonar/server/common/almsettings/github/GithubDevOpsProjectCreationContextServiceTest.java
  server/sonar-webserver-common/src/test/java/org/sonar/server/common/almsettings/github/GithubProjectCreatorFactoryTest.java
  server/sonar-webserver-common/src/test/java/org/sonar/server/common/almsettings/github/GithubProjectCreatorTest.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almintegration/ws/github/ImportGithubProjectActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almintegration/ws/github/ListGithubOrganizationsActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almintegration/ws/github/ListGithubRepositoriesActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/ce/queue/ReportSubmitterIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/almintegration/ws/github/ListGithubOrganizationsAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/almintegration/ws/github/ListGithubRepositoriesAction.java
Due: none

SONAR-24053 Replace expression language usage by simple message interpolation for validation error messages. Remove dependency on org.glassfish.expressly:expressly.
  build.gradle
  server/sonar-webserver-webapi-v2/build.gradle
  server/sonar-webserver-webapi-v2/src/main/java/org/sonar/server/v2/config/CommonWebConfig.java
  server/sonar-webserver-webapi-v2/src/testFixtures/java/org/sonar/server/v2/api/ControllerTester.java
  sonar-application/build.gradle
Due: none

Merge tag '24.12.0.100206' into codescan-24.12
  build.gradle
Due: none

deployCommunity
  gradle.properties
Due: none

Path conditions:
  qa_bb_cloud: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/bitbucket/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/bitbucketcloud/**/*.java
  qa_gitlab: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/gitlab/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/gitlab/**/*.java, private/core-extension-gitlab-vulnerability-report/src/main/**/*.java
  qa_gitlab_cloud: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/gitlab/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/gitlab/**/*.java, private/core-extension-gitlab-vulnerability-report/src/main/**/*.java
  qa_azure: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/azuredevops/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/azure/**/*.java
  qa_github: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_github_provisioning: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_gitlab_provisioning: any of: private/core-extension-gitlab-provisioning/**/*.java
  qa_github_slow: any of: private/core-extension-developer-server/src/main/java/com/sonarsource/branch/pr/github/**/*.java, private/core-extension-developer-server/src/main/java/com/sonarsource/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/branch/it/suite/pr/github/**/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/provisioning/github/*.java, private/it-branch/it-tests/src/test/java/com/sonarsource/onboarding/github/*.java, private/core-extension-github-provisioning/**/*
  qa_saml: any of: server/sonar-auth-saml/src/main/java/**/*.java, server/sonar-auth-saml/src/main/resources/**/*, server/sonar-db-dao/src/main/**/SAML*.java, private/it-core/src/test/java/org/sonarqube/tests/saml/*.java, server/sonar-webserver-webapi/src/main/java/org/sonar/server/saml/**/*.java
  qa_ldap: any of: server/sonar-auth-ldap/src/main/java/**/*.java, server/sonar-webserver-auth/src/main/java/org/sonar/server/authentication/LdapCredentialsAuthentication.java, private/it-core/src/test/java/org/sonarqube/tests/ldap/*.java
  sql_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_postgres: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_postgres11: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  sql_oracle21: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  upgd_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
  upgd_oracle21: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java, server/sonar-db-core/src/main/java/org/sonar/db/*.java
